body, html {
    padding: 0;
    margin:0;
    font-family: Lucida Sans, sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    box-sizing: border-box;
}
/* HEADER */
.header {
    width: 100%;
    background: linear-gradient(90deg, #06165f 0%, #3c00bc 100%)
}

.header__inner {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 20px;
    max-width: 1200px;
    margin: auto;
}

@media screen and (min-width: 458px) {
    .header__inner {
        justify-content: space-between;
        padding: 0 20px;
    }
}

.header__logo {
    color: white;
    font-weight: 400;
}
@media screen and (min-width: 355px) {
    .header__logo {
        padding: 0 20px;
    }
}

.header__button {
    font-size: 1rem;
    padding: .5rem 1rem;
    border-radius: 16px;
    border: 0;
}

.header__button:hover {
    cursor: pointer;
    opacity: 0.75;
}

.header_btnGrp {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    gap: .5rem;

}
.header__btnGrp--submit {
background: orange;
}

.header__btnGrp--signIn {
    background: #00b719;
    color: white;
}

/* MAIN */
.maincontainer {
    text-align: center;
}

/* SEARCH */

.hero {
    padding: 100px 20px;
    background-color: #e8eaf6;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.hero__title {
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.search__wrapper {
    position: relative;
    display: inline-block;
    margin-right: 1rem;
    width: 40%;
    min-width: 300px;
    max-width: 800px;
}

.search__input {
    padding: 10px 10px 10px 10px;
    border-radius: 25px;
    width: 100%;
    font-size: 1rem;
    border: 2px solid lightgray;
}

.search__searchIcon {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 0px;
    font-size: 1rem;
}
/* FAQ */

.faq {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 80px auto;
    max-width: 1200px;
}
.faq__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    list-style-type: none;
    padding-left: 0;
}
.faq__list--item {
    min-height: 8rem;
    border-radius: 5px;
    width: 300px;
    gap: 2rem;
    padding: 20px;
    border: 1px solid #ccc;

}

/* FOOTER */
/* rewrite as lists and rework flex for better visibility on smaller screens */
.footer {
    padding: 20px;
    margin: 0;
    display: flex;
    justify-content: center;
    background: linear-gradient(90deg, #182848 0%, #3c00bc 0%);
}

.footer__content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 1000px;
    width: 100%;
    color: white
}

@media screen and (max-width: 705px) {
    .footer__content {
        display: flex;
        flex-direction: column;
        align-items: center;
    }   
}

@media screen and (max-width: 705px) {
.footer__column {
    text-align: center;
    }
}